[submodule "vendor/lib/mthaml"]
	path = vendor/lib/mthaml
	url = git://github.com/arnaud-lb/MtHaml.git
[submodule "vendor/lib/twig"]
	path = vendor/lib/twig
	url = git://github.com/fabpot/Twig.git
[submodule "javascripts/vendor/galleria.io"]
	path = javascripts/vendor/galleria.io
	url = git://github.com/aino/galleria.git
