
.icon-home:before { content: '\2302'; } /* '⌂' */
.icon-right-circle:before { content: '\e4a2'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-right-open-1:before { content: '\e800'; } /* '' */